<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Today's Tasks</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <h1 class="text-center">To Do List for Today!</h1>
    <br>
    <h2 class="text-center">Add your tasks!</h2>
    <form action="/today" method="post" class="text-center">
        <label for="dTask">Today's Tasks:</label>
        <input type="text" id="dTask" name="dTask">
        <input type="submit" value="Add!">
    </form>
    <br>
    <h2 class="text-center">Today's Tasks</h2>
    <ul class="list-group to-do-list">
        <% if (locals.dArr) { 
            for (var i = 0; i < locals.dArr.length; i++) {%>
                <li>
                    <input type="checkbox" class="strikethrough" name="wOff">
                    <label for="wOff" class="strikeThis"><%= dArr[i] %></label>
                </li>
            <% }
        } %>
    </ul>
    
</body>
</html>